<a href="https://colab.research.google.com/github/GiovanniBorrelli/Fondamentali-di-Apache-Spark/blob/main/Apache_Spark_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar -xzf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [5]:
import os, findspark

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName("ColabSpark") \
    .getOrCreate()

spark.range(5).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [6]:
# Crea una SparkSession (l’ambiente principale di Spark)
spark = SparkSession.builder.master("local[*]").appName("BaseExample").getOrCreate()

# Dati: lista di tuple (nome, età)
data = [("Luca", 25), ("Anna", 30), ("Marco", 22)]

# Crea un DataFrame da questa lista, con colonne "name" e "age"
df = spark.createDataFrame(data, ["name", "age"])

# Mostra il contenuto del DataFrame
df.show()

+-----+---+
| name|age|
+-----+---+
| Luca| 25|
| Anna| 30|
|Marco| 22|
+-----+---+

In [7]:
df.filter(df.age > 24).show()

+----+---+
|name|age|
+----+---+
|Luca| 25|
|Anna| 30|
+----+---+

In [10]:
df.createOrReplaceTempView("people")
spark.sql("SELECT name FROM people WHERE age > 25").show()

+----+
|name|
+----+
|Anna|
+----+